.input-group.search-icon {
    .input-group-append {
        margin-left: -38px !important;
        z-index: 5;
    }
}

.form-control:focus, .form-select:focus {
    box-shadow: none;
    border-color: var(--bs-primary);
}